<md-toolbar color="primary">
    <span>Alem NowCast</span>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>announcement</md-icon>
        <span>Issues</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>
</md-toolbar>
<md-sidenav-container class="feedContainer">
  <md-sidenav> </md-sidenav>
  <div class="mainView">
    <md-tab-group [class.fix]="fix">
      <md-tab label="From">

        <div class="main-selector">
          <md-card class="doc-selector" *ngFor="let doc of docs; let i=index">
              <div md-card-avatar class="example-header-image"></div>
              <span class="author">{{doc.author}}</span>
              <span class="date">{{doc.date}}</span>
            <div class="title">{{doc.title | slice:0:150}}...</div>
            <div class="info">
              <div class="doc-content">
                <span *ngIf="!!doc.attachments" class="with-picture">{{doc.text}} </span>
                <span *ngIf="!doc.attachments" class="without-picture">{{doc.text}} </span>

                <span *ngIf="!!doc.attachments" class="body-image">
                  <img  [src]="doc.attachments">
                </span>
              </div>
            </div>
            <md-card-actions>
              <button md-button>LIKE</button>
              <button md-button>DISLIKE</button>
            </md-card-actions>
          </md-card>

        </div>
        <div class="report">
          <button md-button class="report-button">Download</button>
        </div>
        <!--button md-button class="scrollToTop" (click) = "scrollToTop()">To top</button-->
      </md-tab>
      <md-tab label="About">
        <div class="main-selector">
          <md-card class="doc-selector" *ngFor="let doc of docs; let i=index">
            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title class="author">{{doc.author}}</md-card-title>
              <span class="date">{{doc.date}}</span>
              <md-card-subtitle class="title">{{doc.title | slice:0:150}}...</md-card-subtitle>
            </md-card-header>
            <div class="info">
              <div class="doc-content">
                <span *ngIf="!!doc.attachments" class="with-picture">{{doc.text}} 
                  <p><a [href]="doc.link" target="_blank">{{doc.link | slice:0:90}} </a> </p>
                </span>
                <span *ngIf="!doc.attachments">{{doc.text}} 
                 <p> <a [href]="doc.link" target="_blank">{{doc.link | slice:0:90}} </a> </p>
                </span>

                <span *ngIf="!!doc.attachments" class="body-image">
                  <img md-card-image [src]="doc.attachments">
                </span>
              </div>

            </div>
            <div class="link"></div>
            <md-card-actions>
              <button md-button>LIKE</button>
              <button md-button>DISLIKE</button>
            </md-card-actions>
          </md-card>

        </div>
        <div class="report">
          <button md-button class="report-button">Download</button>
        </div>
        <!--button md-button class="scrollToTop">To top</button-->
      </md-tab>
    </md-tab-group>
  </div>

</md-sidenav-container>
