

.card-demo md-card,
.card-demo md-card-content {
  margin-bottom: 24px;
}

.card-demo md-card-footer {
  left: 24px;
  margin-bottom: 24px;
}

.containerX {
  border: solid 1px #b6b6b6;
  box-sizing: content-box !important;
}

.hint {
   color: #a3a3a3;
   font-size:0.9em;
   margin:5px;
   margin-bottom:0;
}

.forceAbove {
  margin-top: -275px;
}

.large {
  height:200px;
}

.large div.one, .large div.two {
  color:white;
}

.mainView{
    background: #fff;
}
.main-selector {
    float: left;
    max-width: 1100px;

}
.doc-selector{
    margin: 15px;

}
.doc-header {
    width: 100%;
}
.author{
    font-size:16px;
    color: #6c6c6c;
    margin-bottom: 10px;
}
.title {
    font-size:1em;
    color: #3F51B5;
    padding: 10px;
}
.example-header-image {
  background: url('/assets/imgs/jenkins.jpg') no-repeat;
  background-size: cover;
  vertical-align: middle;
  display: inline-block;
}
.doc-content {
   
    display: inline-block;
    font-size:0.9em;
   
}
.with-picture{
    padding: 15px;
    display: inline-block;
    width: 63%;
}
.date{
    font-size: 14px;
    color: #6c6c6c;
    float: right;
}
.feedContainer{
    overflow-y: auto;
}

.info img {
    width: 30%;
    height:auto;
    vertical-align: middle;
}
.link {
    padding: 10px;
}
.report{
    padding: 30px;
    display: inline-block;
    width: 80px;
    text-align: center;
}
.report-button{
    background-color: #3F51B5;
    color: white;
}
.scrollToTop{
    bottom: 0px;
}

@media (max-width: 610px) {
  .info img {
      margin: 0 10px;
      width: 90%;
  }
  .with-picture{
      display: none;
  }
  .without-picture{
      display: none;
  }
  .body-image {
    padding: 0px;
    margin: 0 12px;
}
}
